#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}



nav{ position: relative;
width: 100%;
  display: flex;
  justify-content: space-evenly
  ;gap:40rem;
  height: 5vw;
  align-items: center;
  color:white
  ;margin-top: 1.5rem;
}

h1{font-size: 30px;
}

.btn{
  display: flex;

  list-style: none;
  gap: 3rem;
 align-items: center;
}

img{
  padding: 6rem;
}

